# Node modules
node_modules/

# Build output
dist/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# Prisma
prisma/dev.db
prisma/migrations/

# VS Code settings
.vscode/

# Coverage reports
coverage/
